body{
	margin: 0;
	background: #CCC;
}

#intro {
	background-color: #000;
	text-align: center;
}

#resto{
	background-color: #c1c1c1;
	padding: 20px; 
}

h1{
	color: #fff;
	line-height: 2.2em;
}

h2{
	font-size: 16px;
}

p {
	font-size: 15px;
}

a {
	color: purple;
	text-decoration: none;
	font-size: 20px;
}

img{
	padding: 20px 0px;
}