*{
	margin:0;
	box-sizing: border-box;
}
body{
	margin: auto;
	width: 30%;
	text-align: center;
}

img.profile{
	margin: 30px 0px;
	width: 200px;
	border-radius: 50%;
	border: 10px #e8e8e8 solid;
	position: relative;
}

img.flag{
	width: 30px;
	border-radius: 50%;
	border: 3px #fff solid;
	box-shadow: 2px 2px 4px #e8e8e8;
	position: absolute;
	top: 186px;
    left: 54%;
}

h1{
	font-family: 'Roboto Slab', serif;
	font-size: 1.6em;
	color: #8a1d1d;
}

h2{
	font-family: 'Roboto Slab', serif;
	font-size: 1.2em;
}

p{
	text-align: center;
	margin: 30px 0px;
	line-height: 20px;
}

.redes img{
	width: 20px;
	display: inline-block;
	margin: 0px 10px 20px 10px;
}