*{
	margin: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	margin: auto;}

#container{
	margin: auto;
	margin-top: 45px;
	width: 95%;
	background-color: #c1c1c1;
}

#container img{
	width: 100%;
}

.contacto{
	text-align: center;
	margin-top: 45px;
}

.contacto p{
	display: inline-block;
}

input {
	border: 1px #000 solid;
	margin: 0px 10px;
}

.text{
	padding: 5px 0px;
	width: 200px;
}

.submit{
	padding: 5px 20px;
	background-color: #c1c1c1;
}

.redes{
	margin: auto;
	width: 95%;
	margin-bottom: 40px;
}

.redes img{
	width: 36px;
	display: inline-block;
    float: right;
    margin: 10px;
}

.clear{
	clear: both;
}


footer{
	width: 100%;
	margin: 60px auto 20px auto;
}

footer p{
	text-align: center;
}