body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DCD8DF;
  margin: 0
}

a {
  color: #6d6179;
  text-decoration: none;
  font-weight: 600;
}
.logo{
    width: 100%;
}
#container{
    width: 80%;
    padding: 50px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: #fff
}
.producto{
	width: 20%;
	margin: 2.5%;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
figure{
	margin: 0;
    text-align: center;
}
.producto a, .producto p{
    text-align: center;
}
#containerProd{
	width: 40%;
    margin: auto;
    text-align: justify;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #fff;
    padding: 40px;
}

.titleProd {
    font-size: 1.6em;
    font-weight: 800;
    margin: 20px 0 0 0;
}

.priceProd{
	color: #9a8181;
    font-size: 1.1em;
}

.submit{
    padding: 5px 20px;
    font-size: 1em;
    background: #dcd8e0;
    font-weight: 600;
    border-radius: 5px;
}