header{
	height: 50px;
}
header img{
	height: 25px;
}
header, footer{
	display: flex;
	align-items: center;
	justify-content: center;
}
.alert, .alertGreen, .alertOrange {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin: 15px auto;
}
.alertGreen{
	background-color: #1abb1a;
}
.alertOrange{
	background-color: orange;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
#carro{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2em;
    color:#000;
}
.products-row{
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin: auto;
}
.product{
	text-align: center;
	width: 25%;
	margin: 30px 0 10px 0;
}
.product img{
	max-width: 65%;
}
.descripcion{
	font-weight: bold;
}
.tipo{
	display: block;
    font-size: 0.8em;
    font-weight: normal;
}
.precio{
	font-weight: bold;
	display: inline-block;
	margin-right: 20px;
}
input{
	width: 20px;
    padding-left: 10px;
	margin-right: 7px;
}
button{
	background: #000;
    color: #fff;
    border: 1px #000 solid;
    font-variant: small-caps;
}
footer{
	margin-top:30px;
	height: 50px;
}
footer a{
	font-size: 1.2em;
	margin: 0 20px;
	text-decoration: none;
	color: #757474;
	font-variant: small-caps;
}

.carrito{
	width: 90%;
	margin: 20px auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.compra{
	width: 65%; 
	text-align: center;
}
.titles, .prodElegido{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
	border-bottom: 1px #000 solid;
    padding: 10px 0px;
}
.titles p, .prodElegido p, .prodElegido a{
	width: 20%;
	text-align: center;
	color: #000;
}
.editBox{
	width: 30px;
	margin:42px;
}
.productos{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
}
.prodElegido img{
	width: 20%;
}
.total{
	width: 30%;
	border: 1px #000 solid;
	padding: 20px;
	margin-top:70px;
}
.sub{
	padding-bottom: 30px;
    border-bottom: 1px #000 solid;
}
.payment{
	font-size: 1.3em;
}
.moneda, .subtotal, .descuento, .envio, .totalFinal, #desc{
	float: right;
}
#desc{
	width: 70px;
	text-align: right;
}
#cuotas{
	float: right;
}
.calcEnvio{
	display: none;
}
.weight, .distance{
	margin-left: 100px;
	display: none;
}
.fa-paypal, .fa-credit-card{
	margin: 0 5px;
}
.empty{
	display: flex;
    align-items: center;
    height: 166px;
}
.checkout{
	line-height: 25px;
	float: right;
}
.hide{
	display: none;
}

@media all and (max-width: 900px){
	.product{
		width: 33%;
	}
	footer a{
		font-size: 1em;
	}
	.total{
		width: 26%;
	}
}
@media all and (max-width: 650px){
	.product{
		width: 50%;
	}
	.carrito{
		flex-flow: column;
		align-items: center;
	}
	.compra{
		width: 100%;
	}
	.total{
		width: 50%;
		margin: 20px 0px;
	}
	footer{
		flex-direction: column;
		padding: 20px 0;
	}
}
@media all and (max-width: 450px){
	.product{
		width: 100%;
	}
	.total{
		width: 90%;
	}
}




