extends layout

block content
  div#containerProd
    h1= title
    a(href='/a-series-of-unfortunate-events') 
      img.logo(src="images/logos/asoue-logo.png")
    a(href='/harry-potter')
      img.logo(src="images/logos/hp-logo.png")
