extends layout

block content
  header 
    img.headerLogo(src=title)
    a.home(href='/')
        img.home(src='images/icons/home.png') 
  div#container
    for libro in libros
      .producto
        figure
          img(src='../'+libro.img)
        a(href=libro.url+libro.cod) #{libro.nombre}
        p #{libro.precio}
        button.submit(type='submit') Comprar