* {
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}
#main{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}
#dialog, .ui-dialog{
    background-color: white;
    width: 400px !important;
    padding: 20px;
    border: 1px black solid;
    text-align: center;
}
.ui-button{
    display: none;
}
.ui-dialog-titlebar{
    margin-top: 20px;
}
.ui-dialog-content{
    min-height: auto;
    text-align: center;
}
.levels, .name{
    margin-top: 20px;
}
#name{
    width: 170px;
    padding: 3px;
}
.instructions{
    width: 25%;
}
h1{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 3em;
    letter-spacing: 2px;
    line-height: 2em;
    border-bottom: 1px #000 solid;
    padding-left:10px;
}
span.title{
    font-size: 14px;
    font-weight: 800;
    margin: 20px 0 10px;
    text-decoration: underline;
    display: inline-block;
}
p{
    line-height: 20px;
    padding-left:10px;
}
p#nombre{
    margin: 20px 0;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    color: #8e0001;
    letter-spacing: 0.05em;
}
p.lvl{
    margin-bottom: 20px;
}
.won, .lose{
    margin-top: 20px;
    text-align: center;
}
button{
    border: none;
    background: #8e0001;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.7em;
    font-variant: small-caps;
    margin: 20px 0;
}
.game{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ficha{
    width: 23%;
    text-align: center;
    margin: 5px;
}
.ficha img{
    width: 100%;
    border: 1px #000 solid;
    padding:3px;
    margin: 5px;
}
.disabled{
    -webkit-filter: saturate(15%);
    filter: saturate(15%);
}
.opacity{
    opacity: 0.1;
}
#dialogrank{
    position: absolute;
    top: 10%;
    left: 25%;
    background-color: white;
    width: 50%;
    display: flex;
    flex-flow: column;
    border: 2px #000 solid;
}
.table, .result{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    line-height: 50px;
    background-color: #8e0001;
}
.result{
    background-color: #fff;
    height: 25px;
    line-height: 25px;
}
.tags, .first{
    width: 30%;
    border-left: 1px #000 solid;
    text-align: center;
}
.first{
    width: 10%;
    border: none;
}
.hide{
    display: none;
}
@media all and (max-width: 925px){
    #main{
        flex-direction: column;
        align-items: center;
    }
    .instructions{
        width: 90%;
    }
    .game {
        width: 90%;
        margin-top: 20px;
    }

