*{
	margin: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	font-family: 'Lora', serif;
}
#container{
	margin: 0 auto;
}
header{
	background-color: #c10000;
}
h3{
	padding: 20px 0;
	margin-bottom: 20px;
	text-align: center;
	font-size: 2em;
	color: #fff;
}
.formulario{
	width: 31%;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
}
label{
	font-size: 1em;
}
input{
	display: block;
	margin: 10px 0 20px 0;
	width: 100%;
    line-height: 20px;
    padding: 0 5px;
}
#tipo{
	margin: 0 0 20px 20px;
    height: 22px;
    background-color: #fff;
}
input#ejes, input#puertas, input#tara{
	width: 13%;
	margin-left: 20px;
}
input#tara{
	width: 16%;
}
.inline{
	display: inline-block;
}
span.hide{
	margin-left: 5px;
}
#submit{
	padding: 5px 20px;
    background: black;
    color: white;
    font-size: 0.8em;
    border: none;
    display: block;
}
.obligatorio, .enviado{
	margin-top: 20px;
	padding: 10px;
    background: #ff00003d;
    color: red;
    display: flex;
    align-items: center;
	display: none;
}
.enviado{
	background-color: #59ce5933;
    color: green;
}
.symbol{
	margin-right: 10px;
}
