extends layout

block content
  include header.pug
  .breadcrumb
  #mainContainer
    h1 APORTES ECON&Oacute;MICOS
    p
      | Tu aporte nos permite continuar llevando a cabo actividades sanitarias, educativas y de asistencialismo.
    p
      | Los aportes econ&oacute;micos son importantes para pagar tratamientos, estudios m&eacute;dicos y honorarios veterinarios, comprar insumos y alimento, financiar campa&ntilde;as de castraci&oacute;n en zonas carenciadas, imprimir material de difusi&oacute;n entre otros.
    div.donar
      a(href='http://www.proyecto4patas.org/dona/') Mir&aacute; c&oacute;mo aportar
    h1 DONACI&Oacute;N DE INSUMOS
    p
      | Tu aporte nos permite continuar llevando a cabo actividades sanitarias, educativas y de asistencialismo.
    p
      b Medicamentos (de humanos)
    ul
      li Cefalexina en comprimidos de 500mg &ndash; 1g o suspensi&oacute;n
      li Amoxicilina + Ac. Clavul&aacute;nico en comprimidos de 500mg o 1g o suspensi&oacute;n
      li Metronidazol en comprimidos 500 mg o suspensi&oacute;n
      li Complejo vitam&iacute;nico del Grupo B (B1, B6, B12) en comprimidos o inyectable
      li Vitamina B12 en c&aacute;psulas o comprimidos
      li Vitamina E y Vitamina C
      li Vincristina
      li Furosemida 40mg en comprimidos
      li Tramadol en comprimidos o inyectable
      li Clindamicina inyectable
      li Crema Platsul-A
    p 
      b Medicamentos (de veterinaria)
    ul
      li
        | Antiparasitarios en comprimidos o suspensi&oacute;n (Total Full, Meltra, Endofour, Apto Max, Sulfadim,  Giacoccide)
      li Antiartr&oacute;sicos: Artrin, Colotrin, Sosten CG, Gerioox, Old Trans
      li Enrofloxacina 50, 100, 150 o 200mg.
      li Tramadol 20, 50, 60, 75 u 80mg. en comprimidos
      li Kualcovit B
      li Toltrazol en suspensi&oacute;n o comprimidos
      li Ivermectina
      li Doxiciclina 50, 100, 150 o 200mg. en comprimidos
      li Clindamicina 110, 220mg. en comprimidos
      li Prednisolona 10 o 20mg.
      li Contal 60mg.
      li Amitraz
      li Shampoo con clorexhidina
      li Shampoo con amitraz
      li Shampoo con ketokonazol
      li Curabichera
      li Pipetas
    p
      b Insumos
    ul
      li Sueros de soluci&oacute;n fisiol&oacute;gica, soluci&oacute;n ringer lactato, dextrosa
      li Guantes de latex
      li Vendas tipo cambric, coban
      li Gasas
      li Jeringas 3 y 5ml.
      li Agujas 25&times;8
      li Tela adhesiva
      li Pa&ntilde;ales: Tama&ntilde;o XG o XXG de beb&eacute; y adulto
    div.donar
      a(href='http://www.proyecto4patas.org/recepcion-de-donaciones/') &iquest;D&oacute;nde recibimos las donaciones?
  include footer.pug