footer
  a(href="https://twitter.com/Proyecto4Patas")
    i.fab.fa-twitter
  a(href="https://www.facebook.com/Proyecto4Patas")
    i.fab.fa-facebook-f
  a(href="https://www.instagram.com/proyecto4patas/")
    i.fab.fa-instagram
  a(href="https://www.youtube.com/user/proyecto4patas")
    i.fab.fa-youtube 
  a(href="http://www.proyecto4patas.org/")
    i.far.fa-registered 