*{
	margin:0;
	box-sizing: border-box;
}
body{
	margin: auto;
	width: 100%;
}

#container{
	width: 80%;
	margin: auto;
}

.linea{
	position: absolute;
	top:0;
}

.square{
	width: 264px;
	height: 264px;
	margin: 2px;
}

.red{
	background-color: #ff614d;
}

.white{
	background-color: #f5f5f5;
}

.white img{
	width: 264px;
}

.linea2{
	position: absolute;
	top:270px;
}

.linea3{
	position: absolute;
	top:540px;
}

.col1{
	position: absolute;
	top:0;
}

.col2{
	position: absolute;
	top:0;
	left:270px;
}

.col3{
    position: absolute;
    top: 0;
    left: 540px;
}

.circle{
	position: absolute;
	width: 200px;
	height: 200px;
	margin: 32px;
	background-color: #000;
	border-radius: 50%;
}


